<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @volunteer.email %>
</p>

<p>
  <strong>Speciality:</strong>
  <%= @volunteer.speciality %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @volunteer.cpf %>
</p>

<%= link_to 'Edit', edit_volunteer_path(@volunteer) %> |
<%= link_to 'Back', volunteers_path %>
