<div class="card card-primary">
  <div class="card-header">
    <p class="card-title"><b><%= actions(action_name) + " #{t(controller_name, scope: 'controllers').singularize}" %></b></p>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
        <i class="fas fa-minus"></i></button>
    </div>
  </div>
  <div class="card-body">
    <%= simple_form_for(@event) do |f| %>
    <div class="form-inputs">
      <%= f.input :title %>
      <%= f.input :description %>
      <%= label_tag 'start_date', 'Data/hora do evento' %> <!-- Data de início -->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="far fa-calendar-alt"></i>
          </span>
        </div>
      <%= text_field_tag 'start_date', "", class: "form-control float-right daterange-input" %>
      </div>

      <%= label_tag 'end_date', 'Data/hora do término' %> <!-- Data de término -->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="far fa-calendar-alt"></i>
          </span>
        </div>
      <%= text_field_tag 'end_date', "", class: "form-control float-right daterange-input" %>
      </div>
      <%#= f.input :end_date %>
      <%= f.input :location %>
    </div>

    <div class="form-actions d-block text-center">
      <%= f.button :submit, class: "btn btn-primary" %>
    </div>
    <% end %>

  </div>
</div>
