<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), 
  html: { method: :put }, wrapper: :floating_labels_form) do |f| %>
  <div class="login-box">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <%= inline_svg_tag('logo.svg', class: 'logo') %>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Preencha os campos abaixo com uma nova senha de sua preferência.</p>
        <%= f.input :password, required: true, 
          input_html: { placeholder: 'Nova senha' } %>
        <%= f.input :password_confirmation, required: true, 
          input_html: { placeholder: 'Confirmação da nova senha' } %>
    
        <%= f.button :submit, 'Confirmar alterações', class: 'btn btn-primary btn-block' %>
      </div>
      <div class="card-footer text-center">
        <%= render 'devise/shared/links' %>
      </div>
    </div>
  </div>
<% end %>