<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <p class="login-box-msg">Entre para dar início a sessão</p>

  <%= f.input :email, label: false, wrapper: :prepend do %>
    <div class="input-group-addon">
      <i class="glyphicon glyphicon-envelope"></i>
    </div>
    <span class="has-float-label">
      <%= f.input_field :email, placeholder: 'usuario@mail.com' %>
      <%= f.label :email %>
    </span>
  <% end %>

  <%= f.input :password, 
    label: false, 
    wrapper: :prepend, 
    wrapper_html: { class: 'no-mb' } do %>
    <div class="input-group-addon">
      <i class="glyphicon glyphicon-lock"></i>
    </div>
    <span class="has-float-label">
      <%= f.input_field :password, placeholder: 'Senha' %>
      <%= f.label :password %>
    </span>
  <% end %>

  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="checkbox icheck my-3">
        <%= f.input :remember_me, as: :boolean %>
      </div> 
    </div>

    <div class="col-xs-12">
      <%= f.button :submit, 'Entrar', class: 'btn btn-primary btn-flat btn-block' %>
    </div>
  </div>
<% end %>

<div class="social-auth-links text-center">
  <%= render 'devise/shared/links' %>
</div>
