<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      <li class="nav-item dropdown user-menu">
        <a href="#" class="nav-link dropdown-toggle font-weight-bold" data-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-user mr-1"></i> <span class="d-none d-md-inline"><%= current_user.full_name %></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <li class="user-header bg-primary">
            <p>
              <%= current_user.full_name %> - <%= current_user.role %>
              <small>Membro(a) hรก <%= time_ago_in_words(current_user.created_at) %></small>
            </p>
          </li>
          <!-- Menu Footer-->
          <li class="user-footer">
            <%= link_to edit_user_registration_path, class: 'btn btn-default' do %>
              <i class="fas fa-user-edit"></i> Editar conta
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-default float-right' do %>
              <i class="fas fa-sign-out-alt"></i> Sair
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </nav>