<%= form_for @event do |f| %>
 <%= f.label :title %>
 <%= f.text_field :title %>

 <%= f.label :description %>
 <%= f.text_area :description %>

 <%= f.label :start_date %>
 <div class="input-group mb-3">
   <div class="input-group-prepend">
     <span class="input-group-text">
       <i class="far fa-calendar-alt"></i>
     </span>
   </div>
 <%= f.text_field :start_date, class: "form-control float-rigt daterange-input" %>
 </div>

 <%= f.label :location %>
 <%= f.text_field :location %>

 <%= f.submit "Cadastrar Evento", class: "btn btn-primary" %>
<% end %>
