<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment-with-locales.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<div class="box box-primary">
  <div class="box-header with-border">
    <%= actions(action_name) %>
  </div>
 
  <div class="box-body">
    <%= simple_form_for(@event) do |f| %>
      <%= f.input :title %>
      <div class="row">
        <div class="col-xs-6">
          <%= f.input :start_date, input_html: { id: "start_date", value: date_format(@event.start_date) }, as: :string %>
        </div>
        <div class="col-xs-6">
          <%= f.input :end_date, input_html: { id: "end_date", value: date_format(@event.end_date) }, as: :string %>
        </div>
      </div>
      <%= f.input :location %>
      <%= f.input :description %>
    </div>

    <div class="box-footer">
      <%= link_to 'Voltar', :back, class: "btn btn-default" %>
      <%= f.submit class: "btn btn-primary pull-right" %>
    </div>
  <% end %>
</div>
