<div class="box box-primary">
  <div class="box-header with-border">
    <%= actions(action_name) %>
  </div>
 
  <div class="box-body">
    <%= simple_form_for(@event) do |f| %>
      <%= f.input :title %>
      <div class="row">
        <div class="col-xs-6">
          <%= f.input :start_date, wrapper: :prepend do %>
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <%= f.input_field :start_date, 
              as: :string, 
              id: 'start_date',
              value: date_format(@event.start_date) 
            %>
          <% end %>
        </div>
        <div class="col-xs-6">
          <%= f.input :end_date, wrapper: :prepend do %>
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
              <%= f.input_field :end_date, 
                as: :string,
                id: 'end_date', 
                value: date_format(@event.end_date)
              %> 
          <% end %>   
        </div>
      </div>
      <%= f.input :location %>
      <%= f.input :description %>
    </div>

    <div class="box-footer">
      <%= link_to 'Voltar', :back, class: 'btn btn-default' %>
      <%= f.submit class: 'btn btn-primary pull-right' %>
    </div>
  <% end %>
</div>
