<div class="card card-outline card-primary">
  <div class="card-header with-border">
    <h5 class="card-title"><%= actions(action_name)%></h5>
  </div>
 
  <div class="card-body">
    <%= simple_form_for([:admin, @event]) do |f| %>
      <%= f.input :title %>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :scheduled_for, 
            as: :string, 
            append: '<i class="fa fa-calendar"></i>'.html_safe,
            input_html: { 
              id: 'scheduled_for',
              autocomplete: 'off',
              value: date_format(@event.scheduled_for, 'full')
            },
            wrapper: :input_group  %>
        </div>
        <div class="col-md-3">
          <%= f.input :starts_at, 
            as: :string, 
            append: '<i class="fa fa-clock"></i>'.html_safe,
            input_html: { 
              autocomplete: 'off',
              value: time_format(@event.starts_at, 'compact'),
              class: 'timepicker', 
              data: { toggle: 'datetimepicker', target: '#event_starts_at' }
            },
            wrapper: :input_group  %>
        </div>
        <div class="col-md-3">
          <%= f.input :ends_at, 
            as: :string, 
            append: '<i class="fa fa-clock"></i>'.html_safe,
            input_html: { 
              autocomplete: 'off',
              value: time_format(@event.ends_at, 'compact'),
              class: 'timepicker',
              data: { toggle: 'datetimepicker', target: '#event_ends_at' }
            },
            wrapper: :input_group  %>
        </div>
      </div>

      <%= render 'admin/locations/location_select', resource: @event, f: f %>
       
      <%= f.input :description, input_html: { rows: 4 }, wrapper_html: { class: 'mt-3' } %>
    </div>

    <div class="card-footer">
      <%= link_to 'Voltar', :back, class: 'btn btn-default' %>
      <%= f.submit class: 'btn btn-primary float-right' %>
    </div>
  <% end %>
</div>