<% breadcrumb :events %>

<%= search_form_for([:admin, @q]) do |f| %>
  <div class="card card-secondary card-outline collapsed-card">
    <div class="card-header">
      <h5 class="card-title">Filtros de Pesquisa</h5>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group mb-0">
            <%= f.label t('activerecord.attributes.event.ransack.title') %>
            <%= f.search_field :title_cont, class: 'form-control' %>
          </div>  
        </div> 
        <div class="col-md-6">
          <div class="form-group mb-0">
            <%= f.label t('activerecord.attributes.event.ransack.location') %> <br />
            <%= f.select :location_id_in, 
              options_for_select(Location.all.collect { |l| [ l.description, l.id ] }, 
              params.dig(:q, :location_id_in)),
              { include_hidden: false }, 
              { 
                class: 'form-control select2', 
                multiple: true, 
                data: { placeholder: 'Selecione um ou mais locais'} 
              } 
            %>
          </div>  
        </div> 
      </div>
    </div>

    <div class="card-footer text-right">
      <%= f.submit "Pesquisar", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<div class="card card-primary card-outline">
  <div class="card-header d-flex align-items-center">
    <h3 class="card-title">Eventos</h3>
    <%= link_to new_admin_event_path, class: 'btn btn-sm btn-primary ml-auto' do %>
      <i class="fa fa-plus mr-1"></i> Cadastrar evento
    <% end %>
  </div>
  <div class="card-body p-0">
    <table class="table table-responsive-sm table-hover dataTable m-0">
      <thead>
        <tr>
          <th>Título</th>
          <th>Data</th>
          <th>Horário</th>
          <th>Local</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.title %></td>
            <td><%= l(event.scheduled_for, format: :full) %></td>
            <td><%= full_time(event.starts_at, event.ends_at) %></td>
            <td><%= event.location.description %></td>
            <td>
              <div class="btn-group btn-group-sm">
                <%= link_to admin_event_path(event), 
                class: 'btn btn-success', 
                title: 'Visualizar evento', 
                data: { toggle: 'tooltip' } do %>
                  <i class="fa fa-eye"></i>
                <% end %>
                <%= link_to edit_admin_event_path(event), 
                  class: 'btn btn-info btn-edit', 
                  title: 'Editar evento', 
                  data: { toggle: 'tooltip' } do %>
                  <i class="fas fa-edit"></i>
                <% end %>
                <%= link_to admin_event_path(event), 
                  class: 'btn btn-danger', 
                  method: :delete, 
                  title: 'Excluir evento',
                  data: { confirm: t('events.destroy_html', title: event.title), 
                  toggle: 'tooltip' } do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              </div>
            </td>                   
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
