<%= search_form_for @q do |f| %>

<div class="box collapsed-box">
  <div class="box-header with-border">
    <h3 class="box-title">Filtros de pesquisa</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Minimizar">
        <i class="fa fa-plus"></i></button>
    </div>
  </div>
  <div class="box-body">
    
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :location_cont %>
          <%= f.search_field :location_cont, class: "form-control" %>
        </div>  
      </div> <!-- /.col-md-6 -->
    </div>
  </div>
  <!-- /.box-body -->

  <div class="box-footer" style="">
    <%= f.submit "Pesquisar", class: "btn btn-primary" %>
  </div>
  <!-- /.box-footer-->
</div>

<% end %>

<div class="box box-primary data-tables">
  <div class="box-header with-border">
    <h3 class="box-title">Eventos</h3>
  </div>
  <div class="box-body">
    <table class="table table-bordered table-hover table-striped dataTable">
      <thead>
        <tr>
          <th>Título</th>
          <th>Data</th>
          <th>Horário</th>
          <th>Local</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.title %></td>
            <td><%= event_date(event.start_date)%></td>
            <td><%= event_time(event.start_date, event.end_date) %></td>
            <td><%= event.location %></td>
            <td>
              <div class="btn-group">
                <%= link_to event_path(event), class: "btn btn-success", title: "Visualizar evento", 
                data: { toggle: 'tooltip', container: 'body' } do %>
                  <i class="fa fa-eye"></i>
                <% end %>
                <%= link_to edit_event_path(event), class: "btn btn-primary", title: "Editar evento", 
                data: { toggle: 'tooltip', container: 'body' } do %>
                  <i class="fa fa-pencil"></i>
                <% end %>
                <%= link_to event_path(event), class: "btn btn-danger", method: :delete, title: "Excluir evento",
                data: { confirm: "Tem certeza que deseja apagar o evento #{event.title.upcase}?", 
                toggle: 'tooltip', container: 'body' } do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              </div>  
            </td>                   
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
