<div class="row">
  <section class="invoice"> 
    <div class="row">
      <div class="col-xs-12">
        <h2 class="page-header">
          <i class="fa fa-bullhorn"></i> <%= @event.title %>
          <small class="pull-right">
            <% if @event.end_date.future? %>
              <span class="text-muted"><i class="fa fa-clock-o"></i></span> Acontece em 
            <% else %>
              <span class="text-muted"><i class="fa fa-calendar-check-o"></i></span> Ocorreu há
            <% end %>
            <%= time_ago_in_words(@event.start_date) %> 
          </small>
        </h2>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6 col-sm-12 event-description">
        <strong>Descrição do evento</strong>
        <p class="text-muted well well-sm no-shadow">
          <%= @event.description %>
        </p>
      </div>
      
      <div class="col-md-6 col-sm-12">
        <div class="table-responsive">
          <table class="table">
            <tbody><tr>
              <th style="width:50%">Data:</th>
              <td><%= complete_date(@event.start_date) %></td>
            </tr>
            <tr>
              <th>Horário:</th>
              <td><%= event_time(@event.start_date, @event.end_date)%></td>
            </tr>
            <tr>
              <th>Local:</th>
              <td><%= @event.location %></td>
            </tr>
          </tbody></table>
        </div>
      </div>
      
      <div class="pull-right">
        <div class="col-xs-12">
          <%= render 'admin/shared/buttons'%>
        </div>
      </div>
    </div>
  </section>
</div>