
<%= simple_form_for(@person) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :birthday %>
    <%= f.input :address %>
    <%= f.input :religion %>
    <%= f.input :rg %>
    <%= f.input :start_date %>
    <%= f.input :exit_date %>
  </div>

  <%= f.simple_fields_for :student do |s| %>
  <div class="row">
    <div class="col-md-8">
      <%= s.input :school %>

    </div>
    <div class="col-md-4">
      <%= s.input :current_grade %>

    </div>
  </div>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
