<%= simple_form_for(@person) do |f| %>

  <div class="form-inputs">
    <%= f.input :name %>

    <div class="row">
      <div class="col-md-6">
        <%= f.input :rg %>
      </div>
      <div class="col-md-6">
        <%= f.label :birthday %>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
          </div>
          <%= text_field_tag :birthday, nil, class: "form-control", data: { :'inputmask-alias' => "datetime", :'inputmask-inputformat' => "dd/mm/yyyy", :mask => ""} %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <%= f.input :address %>
      </div>
      <div class="col-md-4">
        <%= f.input :neighborhood %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <%= f.input :religion %>
      </div>
      <div class="col-md-4">
        <%= label_tag "Situação", nil, class: "d-block mb-3" %>

        <div class="icheck-primary d-inline">
          <%= check_box_tag 'status', 'active', true %>
          <%= label_tag 'status', 'Em atividade', nil %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6"> <!-- Data de entrada -->
        <%= f.label :start_date %>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
          </div>
          <%= text_field_tag :start_date, nil, class: "form-control", data: { :'inputmask-alias' => "datetime", :'inputmask-inputformat' => "dd/mm/yyyy", :mask => ""} %>
        </div>
      </div>

      <div class="col-md-6"> <!-- Data de saída -->
        <%= f.label :exit_date %>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
          </div>
          <%= text_field_tag :exit_date, nil, disabled: true, class: "form-control", data: { :'inputmask-alias' => "datetime", :'inputmask-inputformat' => "dd/mm/yyyy", :mask => ""} %>
        </div>
      </div>
    </div>
  </div>

  <%= f.simple_fields_for :student do |s| %>
    <div class="row">
      <div class="col-md-8">
        <%= s.input :school %>
      </div>
      <div class="col-md-4">
        <%= s.input :current_grade %>
      </div>
    </div>
  <% end %>

  <%= f.simple_fields_for :volunteer do |v| %>
    <div class="row">
      <div class="col-md-6">
        <%= v.input :cpf %>
      </div>

      <div class="col-md-6">
        <%= v.input :speciality %>
      </div>
    </div>

    <%= v.input :email %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
