<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <h3 class="text-center mb-3">Editar informações</h3>
  <div class="input-group mb-3"> <!-- Nome -->
    <%= f.text_field :name, autofocus: true, autocomplete: "name",
    placeholder: "Nome", class: "form-control", required: true %>
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-user"></span>
      </div>
    </div>
  </div>
  <div class="input-group mb-3"> <!-- Email -->
    <%= f.email_field :email, autocomplete: "email",
    placeholder: "Email", class: "form-control", required: false %>
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-envelope"></span>
      </div>
    </div>
  </div>
  <div class="input-group mb-3"> <!-- Nova senha -->
    <%= f.password_field :password, autocomplete: "password", class: "form-control",
    placeholder: "Nova senha", required: false %>
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-lock"></span>
      </div>
    </div>
  </div>
  <div class="input-group mb-3"> <!-- Confirmação da nova senha -->
    <%= f.password_field :password_confirmation, autocomplete: "password", class: "form-control",
    placeholder: "Confirmação da nova senha", required: false %>
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-lock"></span>
      </div>
    </div>
  </div>
  <div class="input-group mb-3"> <!-- Senha atual  -->
    <%= f.password_field :current_password, autocomplete: "password", class: "form-control",
    placeholder: "Senha atual", required: false %>
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-lock"></span>
      </div>
    </div>
    <small class="mt-2">Precisamos da sua senha atual para efetuar as mudanças.</small>
  </div>
  <div class="row">
    <div class="col-12">
      <%= f.submit "Salvar", class: "btn btn-primary btn-block" %>
    </div>
  </div>
<% end %>

<div class="callout callout-danger mt-3"> <!-- Cancelar Conta -->
  <%= link_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza?" },
  method: :delete, class: "d-block text-dark" %>
  <small>Essa ação é permanente e não poderá ser desfeita.</small>
</div>
<%= link_to "Voltar", :back, class: "d-block text-center" %>
