<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <h3 class="text-center login-box-msg">Criar conta</h3>

  <%= render 'devise/shared/error_messages' %>

  <%= f.input :full_name, label: false, wrapper: :prepend do %>
    <div class="input-group-addon">
      <i class="glyphicon glyphicon-user"></i>
    </div>
    <span class="has-float-label">
      <%= f.input_field :full_name, placeholder: 'Nome completo' %>
      <%= f.label :full_name %>
    </span>
  <% end %>

  <%= f.input :email, label: false, wrapper: :prepend do %>
    <div class="input-group-addon">
      <i class="glyphicon glyphicon-envelope"></i>
    </div>
    <span class="has-float-label">
      <%= f.input_field :email, placeholder: 'usuario@mail.com' %>
      <%= f.label :email %>
    </span>
  <% end %>

  <%= f.input :password, label: false, wrapper: :prepend, hint: 'Mínimo: 6 caracteres'  do %>
    <div class="input-group-addon">
      <i class="glyphicon glyphicon-lock"></i>
    </div>
    <span class="has-float-label">
      <%= f.input_field :password, placeholder: 'Senha' %>
      <%= f.label :password%>
    </span>
  <% end %>

  <%= f.input :password_confirmation, label: false, wrapper: :prepend do %>
    <div class="input-group-addon">
      <i class="glyphicon glyphicon-log-in"></i>
    </div>
    <span class="has-float-label">
      <%= f.input_field :password_confirmation, placeholder: 'Digite a senha novamente' %>
      <%= f.label :password_confirmation %>
    </span>
  <% end %>
  
  <div class="row">
    <div class="col-xs-12">
      <%= f.button :submit, "Cadastrar", class: "btn btn-primary btn-flat btn-block" %>
    </div>
  </div>
<% end %>

<div class="social-auth-links text-center">
  <%= render 'devise/shared/links' %>
</div>
