<div class="btn-actions-group">
  <%= link_to path(controller_name), 
    method: :delete, 
    data: { confirm: "Tem certeza? Essa ação não poderá ser desfeita." }, 
    class: "btn btn-danger btn-sm" do %>
    <i class="fa fa-trash"></i>&nbsp; Apagar <%= resource_name(controller_name) %> 
  <% end %>
  <%= link_to edit_event_path(@event), class: "btn btn-primary btn-sm" do %>
    <i class="fa fa-pencil"></i>&nbsp; Editar informações 
  <% end %>
  <%= link_to new_event_path, class: "btn btn-success btn-sm" do %>
    <i class="fa fa-plus"></i>&nbsp; Cadastrar <%= resource_name(controller_name) %> 
  <% end %>
</div>