<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="login-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <%= inline_svg_tag('logo.svg', class: 'logo') %>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Entre com sua conta para iniciar a sessão</p>
      <%= f.input :email, wrapper: :floating_labels_form, input_html: { placeholder: 'Seu e-mail' } %>
    
      <%= f.input :password, wrapper: :floating_labels_form, input_html: { placeholder: 'Senha' } %>
      
      <div class="text-center">
        <%= f.input :remember_me, as: :boolean, wrapper: :custom_boolean, label_html: { class: 'font-weight-normal'} %>
      </div>

      <%= f.button :submit, 'Entrar', class: 'btn btn-primary btn-block' %>
    </div>
    <div class="card-footer text-center">
      <%= render 'devise/shared/links' %>
    </div>
  </div>
</div>
<% end %>