<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <p class="login-box-msg">Entre para dar início a sessão</p>
    <div class="input-group email mb-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email",
                                placeholder: "Email", class: "form-control" %>
    </div>
    <div class="input-group mb-3">
      <%= f.password_field :password, autofocus: true, autocomplete: "password", class: "form-control",
                                      placeholder: "Senha" %>
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-lock"></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center">
        <div class="icheck-primary">
          <input type="checkbox" id="remember" name="user[remember_me]">
          <%= label_tag :remember, 'Lembre-se de mim' %>
        </div>
      </div>
      <div class="col-12">
        <%= f.submit "Entrar", class: "btn btn-primary btn-block mt-3" %>
      </div>
    </div>

  <%= render 'devise/shared/links' %>
<% end %>
