<div class="card card-outline card-primary">
  <div class="card-header">
    <h4 class="card-title"><%= actions(action_name) %></h4>
  </div>
 
  <div class="card-body">
    <%= simple_form_for([:admin, @activity]) do |f| %>
      <div class="form-inputs">
        <div class="row">
          <div class="col-md-8">
            <%= f.input :name %>
          </div>
          <div class="col-md-4">
            <%= f.input :status, collection: Activity.statuses_i18n, 
              prompt: 'Selecione uma opção' %>
          </div>
        </div>
          <div class="js-dependent-fields row" 
            data-select-id='activity_status' data-option-value="closed">
            <div class="col-md-4">
              <%= f.input :closure_date, 
                as: :string, 
                append: '<i class="fa fa-calendar"></i>'.html_safe,
                input_html: { 
                  class: 'datepicker',
                  autocomplete: 'off',
                  value: date_format(@activity.closure_date, 'long')
                },
                wrapper: :input_group  %>
            </div>
            <div class="col-md-8">
              <%= f.input :closure_reason %>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-2">
              <%= f.input :starts_at, 
              as: :string, 
              append: '<i class="fa fa-clock"></i>'.html_safe,
              input_html: { 
                autocomplete: 'off',
                value: time_format(@activity.starts_at, 'compact'),
                class: 'timepicker', 
                data: { toggle: 'datetimepicker', target: '#activity_starts_at' }
              },
              wrapper: :input_group  %>
            </div>
            <div class="col-md-2">
              <%= f.input :ends_at, 
                as: :string, 
                append: '<i class="fa fa-clock"></i>'.html_safe,
                input_html: { 
                  autocomplete: 'off',
                  value: time_format(@activity.ends_at, 'compact'),
                  class: 'timepicker', 
                  data: { toggle: 'datetimepicker', target: '#activity_ends_at' }
                },
                wrapper: :input_group  %>
            </div>
            <div class="col-md-2">
              <%= f.input :max_capacity, input_html: { min: 1 } %>
            </div>
            <div class="col-md-6">
              <%= f.input :week_day_list, 
                collection: Activity::WEEK_DAYS, 
                include_hidden: false,
                include_blank: false,
                input_html: { 
                  multiple: true, 
                  class: 'select2', 
                  placeholder: 'Selecione um ou mais dias'
                } %>
            </div>
          </div>
            <%= render 'admin/locations/location_select', resource: @activity, f: f %>
          
        <div class="row">
          <div class="col-md-12">
            <%= f.input :description, input_html: { rows: 3 } %>
          </div> 
        </div>
        <div class="row">
          <div class="col-md-6">
             <%#= f.association :volunteers, 
              collection: @volunteers, 
              label_method: :person_name, 
              value_method: :id, 
              input_html: { multiple: true, class: 'select2', placeholder: 'Selecione um ou mais responsáveis pela atividade' } %>
          </div>  
          <div class="col-md-6">
            <%= f.input :display_image_cache, as: :hidden,
            input_html: { 
              data: { 
                filename: @activity.display_image_cache&.partition('/')&.last }
            } %>
            <div class="form-group">
              <%= f.input :display_image, 
                wrapper: :custom_file,
                input_html: { 
                  id: 'customFile', 
                  lang: 'pt-br', 
                  'aria-describedby': 'customFile'
                }
              %>
            </div>
          </div>
        </div>  
        <%#= f.association :students, 
          label: 'Alunos', 
          collection: @students, 
          label_method: :person_name, 
          value_method: :id, 
          input_html: { 
            multiple: true, 
            class: 'activity_multiselect'
          } %>    
      </div>
  </div>
  <div class="form-actions card-footer">
    <%= link_to 'Voltar', admin_activities_path, class: 'btn btn-default' %>
    <%= f.button :submit, class: 'btn btn-primary float-right' %>
  </div>
  <% end %>
</div>

<%#= render 'display_photo_preview' %>