<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<h4><%= actions(action_name) %></h4>

<div class="card card-primary card-outline">
  <div class="card-body">
    <%= simple_form_for(@activity) do |f| %>
      <div class="form-inputs">
        <div class="row">
          <div class="col-md-8">
            <%= f.input :name %>
          </div>
          <div class="col-md-4">
             <%= f.input :max_capacity, input_html: { min: 1 } %>
          </div>
        </div>

        
        
        <div class="row">
          <div class="col-md-6">
            <%= f.association :week_days, :collection => @days, :label_method => :description,
            :value_method => :id, input_html: { multiple: true } %>
          </div>
          <div class="col-md-3">
            <%= f.input :starts_at, as: :tempus_dominus %>
          </div>
          <div class="col-md-3">
            <%= f.input :ends_at, as: :tempus_dominus %>
          </div>
        </div>
       
        <div class="row">
          <div class="col-md-6">
            <%= f.input :location, :url => autocomplete_event_location_events_path, :as => :autocomplete %>
          </div>
          <div class="col-md-6">
         
          </div>
        </div> 

        <%= f.input :description %>
      </div>

      <div class="form-actions">

      <%= link_to 'Voltar', activities_path, class: "btn btn-default" %>
        <%= f.button :submit, class: "btn btn-primary float-right" %>
      </div>
    <% end %>

  </div>
</div>
