<section class="invoice">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="page-header">
        <%= @activity.name %>
        <span class="pull-right badge bg-green">Ativa</span>
      </h2>
    </div>
  </div>
  <div class="row invoice-info">
    <div class="col-xs-12">
      <p class="mb-3"><b>Descrição da atividade</b></p>
      <p class="text-muted well well-sm no-shadow">
        <%= @activity.description %>
      </p>
    </div>
    <div class="col-xs-12 col-md-6 col-sm-12">
      <p class="lead">Informações</p>

      <div class="table-responsive">
        <table class="table activity-table">
          <tbody>
            <tr>
              <th>Lotação</th>
              <td><%= t('display.students_count', count: @activity.students_count) %></td>
            </tr>
            <tr>
            <tr>
              <th>Disponibilidade</th>
              <td>
                <span class="label bg-<%= find_color(@activity.percent_of) %>">
                  <%= t('display.availability', count: available(@activity)) %> 
                </span>&nbsp; (de um total de <b><%= @activity.max_capacity %></b>)
                </td>
            </tr>
            
            <tr>
              <th>Professor(es)</th>
              <td>
                <%= @activity.volunteers.map{ |v| link_to(v.person.name,volunteer_path(v))}.join(", ").html_safe %>
              </td>
            </tr>
            <tr>
              <th class="align-middle">Dia(s)</th>
              <td><ul class="list-group list-group-horizontal weeklist">            
                  <% @activity.week_days.each do |day| %>
                    <li class="list-group-item py-2 px-4"><%= day.description %></li>
                  <% end %>
                </ul></td>
            </tr>
            <tr>
              <th>Horário</th>
              <td><%= event_time(@activity.starts_at, @activity.ends_at) %></td>
            </tr>
            <tr>
              <th>Local</th>
              <td><%= @activity.location.description %></td>
            </tr>
          </tbody>
        </table>
      </div>
    <%= render 'admin/shared/buttons', 
      confirm_data: '<h4 class="text-red">Tem certeza? Essa ação não poderá ser desfeita. </h4>
      <p>Ao apagar uma atividade, a matrícula dos alunos cadastrados na mesma também serão apagadas. 
      Portanto, não será mais possível consultar os alunos que já foram matriculados nesta atividade. </p> 
      <p>Caso queira guardar
      um histórico de quais alunos participaram desta atividade, é recomendado apenas mudar
      o status da mesma para <b>"Inativa"</b>. Clique aqui para realizar esta ação.</p>' %>
    </div>
    <div class="col-xs-12 col-md-6 col-sm-12">
      <p class="mb-3"><b>Imagem de exibição</b></p>
      <% if @activity.display_image.attached? %>
        <%= image_tag @activity.display_image, class: 'img-responsive' %>
      <% else %>
        <%= image_tag 'https://via.placeholder.com/500x300', class: 'img-responsive' %>
      <% end %>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-12 table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Nome</th>
          <th>Idade</th>
          <th>Tempo de matrícula</th>
          <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <% @activity.students.each do |student| %>
        <tr>
          <td><%= student.person.name %></td>
          <td><%= age(student.person.birthday) %></td>
          <td><%= time_ago_in_words(student.person.start_date)%></td>
          <td><%= link_to student_path(student), 
              class: 'btn btn-success btn-sm', 
              title: 'Visualizar ficha de aluno', 
              data: { toggle: 'tooltip', container: 'body' } do %>
                <i class="fa fa-eye"></i>
              <% end %>
              <%= link_to edit_student_path(student), 
                class: 'btn btn-primary btn-sm', 
                title: 'Editar informações de aluno', 
                data: { toggle: 'tooltip', container: 'body' } do %>
                <i class="fa fa-pencil"></i>
              <% end %>
              <%= link_to student_path(student), 
                class: 'btn btn-danger btn-sm', 
                method: :delete, 
                title: "Remover aluno de #{@activity.name}",
                data: { 
                  confirm: "Tem certeza que deseja remover #{student.person.name.upcase} de #{@activity.name}?", 
                  toggle: 'tooltip', container: 'body' 
                } do %>
                <i class="fa fa-trash"></i>
              <% end %></td>
        </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row no-print">
    <div class="col-xs-12">
      <a href="1.html" target="_blank" class="btn btn-default tst"><i class="fa fa-print"></i> Print</a>
    </div>
  </div>
</section>