
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= (yield(:title).blank? ? title : yield(:title)) + " - #{t('admin_app_name')}" %>
  </title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'admin' %>
  <%= javascript_include_tag 'admin' %>
  <%= javascript_include_tag 'admin/calendar' if action_name == 'calendar' %>
</head>
<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%= render 'layouts/admin/navbar' %>

    <!-- Main Sidebar Container -->
    <%= render 'layouts/admin/sidebar' %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0"><%= t controller_name, scope: 'controllers' %></h1>
            </div>
            <div class="col-sm-6 ">
              <%= breadcrumbs style: :bootstrap4, class: 'breadcrumb float-sm-right' %>
            </div>
          </div>
        </div>
      </div>

      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
          <%= yield %>
        </div>
      </div>
    </div>

    <!-- Main Footer -->
    <footer class="main-footer">
      <div class="float-right d-none d-sm-inline">
        <b>Versão</b> 2.0
      </div>
      <strong>Copyright &copy; <%= Date.today.year %> 
      <%= link_to 'Centro Comunitário Nossa Senhora Medianeira', root_path%>.</strong> 
      Todos os direitos reservados.
    </footer>
  </div>

  <%= custom_flash_messages %>
</body>
</html>