<h3 class="login-box-msg">Mudar senha</h3>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <div class="input-group">
    <div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
    <%= f.text_field :password, class: "form-control", placeholder: "Nova senha", autocomplete: "password" %>
  </div>

  <div class="input-group">
    <div class="input-group-addon"><i class="glyphicon glyphicon-ok-circle"></i></div>
    <%= f.text_field :password_confirmation, class: "form-control", placeholder: "Confirmação da senha", autocomplete: "password" %>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= f.submit "Confirmar alterações", class: "btn btn-primary btn-block btn-flat" %>
    </div>
  </div>
<% end %>

<div class="social-auth-links text-center">
  <p>- OU -</p>
  <%= render 'devise/shared/links' %>
</div>
