<h3 class="text-center mb-3">Mudar senha</h3>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <div class="input-group mb-3">
      <%= f.password_field :password, autocomplete: "password",
                          placeholder: "Nova senha", class: "form-control" %>
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-lock"></span>
        </div>
      </div>
    </div>
    <div class="input-group mb-2">
      <%= f.password_field :password_confirmation, autocomplete: "password", class: "form-control",
                            placeholder: "Confirmação da nova senha" %>
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-lock"></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <%= f.submit "Confirmar alterações", class: "btn btn-primary btn-block mt-3" %>
      </div>
    </div>

  <%= render 'devise/shared/links' %>
<% end %>
