<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

  <div class="login-box">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <%= inline_svg_tag('logo.svg', class: 'logo') %>
      </div>
      <div class="card-body">
        <p class="login-box-msg"><b>Esqueceu sua senha?</b>
          Recupere-a informando abaixo o e-mail que você usou para criar sua conta.
        </p>
        <%= f.input :email, wrapper: :floating_labels_form, required: true, 
          input_html: { placeholder: 'E-mail utilizado ao criar conta' } %>
    
        <%= f.button :submit, 'Enviar instruções por e-mail', class: 'btn btn-primary btn-block' %>
      </div>
      <div class="card-footer text-center">
        <%= render 'devise/shared/links' %>
      </div>
    </div>
  </div>
<% end %>
