<p id="notice"><%= notice %></p>

<p>
  <strong>Family size:</strong>
  <%= @promulher_form.family_size %>
</p>

<p>
  <strong>F children:</strong>
  <%= @promulher_form.f_children %>
</p>

<p>
  <strong>M children:</strong>
  <%= @promulher_form.m_children %>
</p>

<p>
  <strong>Works:</strong>
  <%= @promulher_form.works %>
</p>

<%= link_to 'Edit', edit_promulher_form_path(@promulher_form) %> |
<%= link_to 'Back', promulher_forms_path %>
