<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title><%= "#{devise_action} - #{t('main_app_name')}" %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'devise' %>
    <%= javascript_include_tag 'devise' %>
  </head>

  <body class="login-page">
    <%= yield %>
    <%= custom_flash_messages %>
  </body>
</html>
